{% extends 'base.html.twig' %}
{% block body %}
{{ form_start(form) }}
{{ form_widget(form.search) }}
<button type='submit' >Submit</button>


{{ form_errors(form.search) }}

{{ form_end(form)}}

<table>
<tr> 
<th>Make</th>
<th>Name</th>
</tr>

{% for car in cars %}

<tr> 
<td> {{car.make.name}} </td>
<td> {{car.model.name}} </td>
</tr>

{% endfor %}
</table>

{% endblock body %}